body{
    background-color: #333;
}
#banner {
    background-color: #333;
    height: 76px; /*foi adicionado para empurrar para baixo os elementos da pagina*/
    padding: 30px 70px 30px 70px;
}

#banner h1 {
    float: left; /*banner no lado esquerdo*/
    margin: 0;
}

#banner ul {
    margin: 0;
}

#banner nav {
    float: right; /*banner no lado direito*/
    position: relative; /* distancia 30px relativa ao banner (conteiner)*/
    top: 30px;
}

#banner nav ul li {
    display: inline-block; /* colocando em linha*/
    width: 100px; /*espaçamento*/
}

#banner nav ul li a {
    color: #ffff;
    text-decoration: none; /*retirando o sublinhado do link*/
    text-transform: uppercase; /*colocando texto em mausculo*/
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#sabores-pizzas h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

#sabores-pizzas table {
    border-collapse: collapse; /* retirando o espaço das celulas da tabela*/
    margin: 0 auto;
    width: 80%; /*largura com relação a tela*/
}

#sabores-pizzas table td,
#sabores-pizzas table th{
    border: 1px #000 solid;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

#sabores-pizzas .texto-negativo {
    color: #fb3958;
}

#sabores-pizzas .texto-positivo {
    color: #87b50f;
}

#copyrigth a{
    text-align: center;
    display: block;
}

#copyrigth p{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}